/* layer: icons */
.i-mdi-play{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M8 5.14v14l11-7l-11-7z' fill='currentColor'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
.i-mdi-play-outline{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M8.5 8.64L13.77 12L8.5 15.36V8.64M6.5 5v14l11-7' fill='currentColor'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
.i-mdi-refresh{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M17.65 6.35A7.958 7.958 0 0 0 12 4a8 8 0 0 0-8 8a8 8 0 0 0 8 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18a6 6 0 0 1-6-6a6 6 0 0 1 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z' fill='currentColor'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
.i-mdi-step-forward{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M5 5v14h3V5m2 0v14l11-7' fill='currentColor'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
/* layer: default */
.p-2{padding:0.5rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.pt-0{padding-top:0rem;}
.mt-8{margin-top:2rem;}
.scrollbar-hidden::-webkit-scrollbar{display:none;}
.border-2{border-width:2px;border-style:solid;}
.border-black{--un-border-opacity:1;border-color:rgba(0,0,0,var(--un-border-opacity));}
.border-dashed{border-style:dashed;}
.font-cascadia{font-family:Cascadia,Menlo,Monaco,Consolas,monospace;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.flex-col{flex-direction:column;}
.flex-1{flex:1 1 0%;}
.flex{display:flex;}
.gap-1{grid-gap:0.25rem;gap:0.25rem;}
.gap-2{grid-gap:0.5rem;gap:0.5rem;}
.relative{position:relative;}
.h-14{height:3.5rem;}
.h-50{height:12.5rem;}
.h-6{height:1.5rem;}
.h-full{height:100%;}
.h-screen{height:100vh;}
.max-h-100{max-height:25rem;}
.max-w-1\/2{max-width:50%;}
.max-w-full{max-width:100%;}
.min-h-14{min-height:3.5rem;}
.min-h-16{min-height:4rem;}
.min-w-14{min-width:3.5rem;}
.w-6{width:1.5rem;}
.w-full{width:100%;}
.w-screen{width:100vw;}
.cursor-pointer{cursor:pointer;}
.resize-none{resize:none;}
.resize-y{resize:vertical;}
.outline-none{outline:2px solid transparent;outline-offset:2px;}
.overscroll-y-none{overscroll-behavior-y:none;}
.break-normal{overflow-wrap:normal;word-break:normal;}
.break-all{word-break:break-all;}
.tracking-widest{letter-spacing:0.1em;}
.leading-10{line-height:2.5rem;}
.leading-14{line-height:3.5rem;}
.overflow-auto{overflow:auto;}
.overflow-hidden{overflow:hidden;}
.overflow-scroll{overflow:scroll;}
.overflow-x-scroll{overflow-x:scroll;}
.justify-center{justify-content:center;}
.items-center{align-items:center;}